<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="description" content="">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<title>DIESEL WATCH REPLICA</title>
	<link rel="stylesheet" href="css/style.min.css">
	<link rel="stylesheet" href="css/font.css">
	<!-- <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">  -->
	<script src="js/jquery.js"></script>
	<script src="js/main.js"></script>




</head>

<body>

	<div class="to_blur">
		<div class="top_panel">
			<div class="container_top">
				<div class="logo">
					<img src="img/top panel/logo1l.png" alt="Diesel logo">
				</div>	
				<div class="nav">
					<ul>
						<li><a href="#DIESEL_Brave">Часы DIESEL Brave</a></li>
						<li><a href="#DIESEL_Watch_Characteristics">Характеристики</a></li>
						<li><a href="#Watch_Diesel_Buy_Reviews">Отзывы клиентов</a></li>
						<li><a href="#Watch_Diesel_Buy_Delivery">Доставка</a></li>
					</ul>
				</div>
				<div class="coki_link">
					<div class="coc_link container row">
						<a href="https://vk.com/club135828110"><img src="img/top panel/icon/vk_2.png"  alt="" ></a>
						<a href="#"><img src="img/top panel/icon/odnoklassniki.png" alt=""></a>
						<a href="#"><img src="img/top panel/icon/facebook.png" alt=""></a>
						<a href="#"><img src="img/top panel/icon/instagram.png" alt=""> </a>
					</div>
				</div>	
			</div>
		</div>

		<header id="top">
			<div id="top_movie">
				<img src="img/top panel/logo.png" alt="">
				<video  id="movie" muted autoplay width="100%" >
					<source src="video/mov.mp4" />
					<source src="video/mov.webm" type='video/webm; codecs="vp8, vorbis"' />
					<source src="video/mov.ogv" type='video/ogg; codecs="theora, vorbis"' />
					<object id="flowplayer" type="application/x-shockwave-flash" width="100%" >
						<param name="movie" value="flowplay/flowplayer-3.2.2.swf" /> 
						<param name="flashvars" value='config={"clip":"video/mov.mp4"}' />
					</object>
				</video>
			</div>
			<div class="container">
				<div class="over_video">

					<div class="ovi_slogan">Часы удостоеные более 40 наград в номинации "Лучший дизайн"</div>
					<div class="slogan_min"><b>DIESEL DZ7314</b><br> Only the brave</div>
					<img src="img/pop_up/brave.png"  alt="">
					<div class="ovi_box">
						<div class="ovi_text">
							<div class="price_old "> <p>9200р</p>	</div>
							<div class="price">
								<p>  3499р</p>
							</div>
							<div class="popUp_button popbutton" data-window="1"">
								ЗАКАЗАТЬ
							</div> 
						</div>
					</div>
				</div>
			</div>
		</header>

		<section id="advant">
			<div class="container row">
				<div class="advatages_item">
					<p>Быстрая доставка</p>
					<div class="item1"></div>
				</div>
				<div class="advatages_item">
					<p>Оплата при получении</p>
					<div class="item1"></div>
				</div>
				<div class="advatages_item">
					<p>Гарантия качества</p>
					<div class="item1"></div>
				</div>
				<div class="advatages_item">
					<p>Отправка в день заказа</p>
					<div class="item1"></div>
				</div>
			</div>
		</section>


		<section id="DIESEL_Watch_Characteristics">
			<div class="text_tape" style="background-color: rgb(232,49,43)">
				<p> DIESEL WATCH ONLY THE BRAVE / СКИДКА 62% / DIESEL WATCH ONLY THE BRAVE / СКИДКА 62% / DIESEL WATCH ONLY THE BRAVE / СКИДКА 62% / DIESEL WATCH ONLY THE BRAVE / СКИДКА 62% / DIESEL WATCH ONLY THE BRAVE / СКИДКА 62% / DIESEL WATCH ONLY THE BRAVE / СКИДКА 62% / DIESEL WATCH ONLY THE BRAVE / СКИДКА 62% </p>
			</div>
			<div class="container row">
				<div class="char_video">
					<video class="movie"  width="100%"   muted loop autoplay>
						<source src="video/diesel.mp4" />			
						<!-- <source src="video/mov.webm" type='video/webm; codecs="vp8, vorbis"' /> -->
						<source src="video/diesel.ogv" type='video/ogg; codecs="theora, vorbis"' />
						<object id="flowplayer" type="application/x-shockwave-flash" width="100%" >
							<param name="movie" value="flowplay/flowplayer-3.2.2.swf" /> 
							<param name="flashvars" value='config={"clip":"video/diesel.mp4"}' />
						</object>
					</video>
				</div>
				<div class="watch_box">
					<table>
						<tr><td>Тип механизма: </td><td> Кварцевый</td>	</tr>
						<tr><td>Материал: </td><td> Нержавеющая сталь</td></tr>
						<tr><td>Стекло: </td><td> Минеральное</td></tr>
						<tr><td>Хронограф: </td><td> Есть</td></tr>
						<tr><td>Толщина корпуса: </td><td> 12 мм</td></tr>
						<tr><td>Выдерживают давление воды: </td><td> 5 ATM</td></tr>
						<tr><td>Материал браслета ремешка: </td><td> Эко-кожа</td></tr>
						<tr><td>Подсветка стрелок: </td><td> Фосфорное напыление</td></tr>
						<tr><td>Секундомер: </td><td>Есть</td></tr>
						<tr><td>Цвет циферблата: </td><td> Синий</td></tr>
					</table>
				</div>	
			</div>

			<div class="text_tape" style="background-color: rgb(232,49,43)">
				<p> DIESEL WATCH ONLY THE BRAVE / СКИДКА 62% / DIESEL WATCH ONLY THE BRAVE / СКИДКА 62% / DIESEL WATCH ONLY THE BRAVE / СКИДКА 62% / DIESEL WATCH ONLY THE BRAVE / СКИДКА 62% / DIESEL WATCH ONLY THE BRAVE / СКИДКА 62% / DIESEL WATCH ONLY THE BRAVE / СКИДКА 62% / DIESEL WATCH ONLY THE BRAVE / СКИДКА 62% </p>
			</div>
		</section>

		<section id="DIESEL_Brave">
			<div class="container column">

				<div class="conv_head">
					<div class="text_cont">
						<h1>Only the Brave</h1>
						<p>Линейка уникальных предметов одежды 
							и аксессуаров от легендарного дизайнера Renzo Rosso 
							для тех кто высоко ценит качество повседневного стиля. 
							Бренд уже успел завоевать популярность во всем мире</p>
						</div>
					</div>
					<div class="conv_five_reason">
						<h1>5 Причин купить часы DIESEL BRAVE</h1>
						<ul>
							<li>
								<p><span>УНИКАЛЬНЫЙ ДИЗАЙН</span> не оставит равнодушным ни одного человека</p>
							</li>
							<li>
								<p><span>ВЫСОЧАЙШЕЕ КАЧЕСТВО</span> исполнения гарантирует долговечность часового механизма и соответственно длительный период эксплуатации</p>
							</li>
							<li>
								<p><span>БЕЗУПРЕЧНЫЙ АКСЕССУАР</span> дополнит ваш стиль и подчеркнет вашу индивидуальность</p>
							</li>
							<li>
								<p><span>ВНУШИТЕЛЬНЫЕ РАЗМЕРЫ</span> притягивают взгляды, вы всегда будете в центре внимания</p>
							</li>
							<li>
								<p><span>ФУНКЦИОНАЛЬНОСТЬ</span> 2 часовых пояса, хронограф</p>
							</li>
						</ul>	
					</div>
					<div class="conv_count">
						<h2>В НАЧАЛЕ ГОДА ОБЪЯВЛЯЕМ ТОТАЛЬНУЮ СКИДКУ В <span>62%</span> ДЛЯ ПЕРВЫХ <span>2000</span> ПОКУПАТЕЛЕЙ В РОССИИ</h2>
						<div class="timer container row">
							<div class="time_cont ">
								<div class="timer_text"><p>Остаток товара на складе</p></div> 
								<div class="count_item">983</div>
							</div>

							<p class="count_button popbutton">Заказать</p>
						</div>
					</div>
				</div>
				<div class="text_tape" style="background-color: rgb(232,49,43)">
					<p> DIESEL WATCH ONLY THE BRAVE / СКИДКА 62% / DIESEL WATCH ONLY THE BRAVE / СКИДКА 62% / DIESEL WATCH ONLY THE BRAVE / СКИДКА 62% / DIESEL WATCH ONLY THE BRAVE / СКИДКА 62% / DIESEL WATCH ONLY THE BRAVE / СКИДКА 62% / DIESEL WATCH ONLY THE BRAVE / СКИДКА 62% / DIESEL WATCH ONLY THE BRAVE / СКИДКА 62% </p>
				</div>
			</div>	
			</section>
			

			<section id="Watch_Diesel_Buy_Reviews">
				<div class="container column" style="align-items: center">
					<h1>Отзывы</h1>
					<img  class="rev_img" src="img/reviews/reviews.jpg" alt="" width="50%">
					<div class="rev_cont">
						<h2>Гарантии</h2>
						<p>Согласно закону, покупатель имеет право вернуть товар в 14-дневный срок с момента оплаты, при условии что товарный вид изделия сохранен</p>
						<img src="img/reviews/garant.png" width="18%" alt="">
					</div>
				</div>
			</section>

			<div class="text_tape" style="background-color: rgb(232,49,43)">
				<p> DIESEL WATCH ONLY THE BRAVE / СКИДКА 62% / DIESEL WATCH ONLY THE BRAVE / СКИДКА 62% / DIESEL WATCH ONLY THE BRAVE / СКИДКА 62% / DIESEL WATCH ONLY THE BRAVE / СКИДКА 62% / DIESEL WATCH ONLY THE BRAVE / СКИДКА 62% / DIESEL WATCH ONLY THE BRAVE / СКИДКА 62% / DIESEL WATCH ONLY THE BRAVE / СКИДКА 62% </p>
			</div>

			<section id="howwork">
				<div class="container column">
					<h1>Сделать заказ:</h1>
					<ul class="circle_row">
						<li><div class="circle"><p>Bы оставляете заявку на сайте.</p>
						<div class="number"> 1 </div>
						</div></li>
						<li><div class="circle"><p>Мы связываемся с вами.</p><div class="number"> 2</div></div></li>
						<li><div class="circle"><p>Мы отправляем товар.</p><div class="number"> 3</div></div></li>
						<li><div class="circle"><p>Bы получаете и оплачиваете.</p><div class="number"> 4</div></div></li>
						<li><div class="circle"><p>ВЫ РАДУЕТЕСЬ ПОКУПКЕ :)</p><div class="number"> 5</div></div></li>
					</ul>
					

					
					
			<div class="faq">
			
			<h2>Часто задаваемые вопросы:</h2>
			<div class="faq_box">
				<ul class="contra">
					<li>
						<h3>Как заказать у вас часы?</h3>
						<p>Оставьте заявку на сайте . Также Bы можете запросить обратный звонок в любой город России. Наш специалист свяжется с Вами в течение 3 часов (в рабочее время), ответит на вопросы и подтвердит Ваш адрес доставки заказа.</p>
					</li>
					<li>
						<h3>Как и когда мой заказ будет доставлен?</h3>
						<p>После подтверждения заказа наши специалисты проверяют работоспособность часов, собирают заказ и передают на отправку. Обычно заказы доставляются в течение 3-14 дней по всей стране.</p>
					</li>
					<li>
						<h3>Мне нужно оплачивать наперед?</h3>
						<p>Нет! Посылку отправляем наложенным платежом и оплата только при получени товара на почте или в руки курьеру.</p>
					</li>			
				</ul>
				<p><i>В дополнении к этому, наше предложение выгодно отличается от конкурентов, что позволяет сокращать затраты на рекламу и продвижение продукции.</i></p>
			</div>
			<!-- <div class="clickme_box"> -->
				<div id="clickme"> Показать </div>
			<!-- </div> -->
			
			</div>
		</div>
	</section>

	<div class="text_tape" style="background-color: rgb(232,49,43)">
		<p> DIESEL WATCH ONLY THE BRAVE / СКИДКА 62% / DIESEL WATCH ONLY THE BRAVE / СКИДКА 62% / DIESEL WATCH ONLY THE BRAVE / СКИДКА 62% / DIESEL WATCH ONLY THE BRAVE / СКИДКА 62% / DIESEL WATCH ONLY THE BRAVE / СКИДКА 62% / DIESEL WATCH ONLY THE BRAVE / СКИДКА 62% / DIESEL WATCH ONLY THE BRAVE / СКИДКА 62% </p>
	</div>

	<section id="Watch_Diesel_Buy_Delivery">
		<div class="container column delivery_list">
			<div class="deliv_head">
				<h2>ДОСТАВКА</h2>
				<p>Наша компания осуществляет доставку двумя способами: </p>
			</div>
			<div class="delivery_PR">
				
				<div class="delivery_pr_it">
					<div class="deliv_open"></div>
					<p>Почтой России (5-7 календарных дней). Ваши часы будут отправлены Вам ценной бандеролью 1-го класса на Ваш почтовый адрес, который Вы укажите при оформлении заказа. Мы отправляем часы наложенным платежом, вы оплачиваете после получения в своем отделении почты.
					</p>				
				</div>
			</div>				
			<div class="delivery_CDEK">
				
				<div class="delivery_cdek_it">
					<div class="deliv_open"></div>
					<p>Курьерской службой CDEK. Компания имеет пункты выдачи на всей территории России и стран СНГ. Зарекомендовала себя как надёжная компания с быстрыми сроками доставки и очень выгодными ценами. Вы можете заказать на дом или в один из ближайших к вам пунктов выдачи.
					</p>
				</div>
			</div>
			
		</div>
		<div class="text_tape" style="background-color: rgb(232,49,43)">
		<p> DIESEL WATCH ONLY THE BRAVE / СКИДКА 62% / DIESEL WATCH ONLY THE BRAVE / СКИДКА 62% / DIESEL WATCH ONLY THE BRAVE / СКИДКА 62% / DIESEL WATCH ONLY THE BRAVE / СКИДКА 62% / DIESEL WATCH ONLY THE BRAVE / СКИДКА 62% / DIESEL WATCH ONLY THE BRAVE / СКИДКА 62% / DIESEL WATCH ONLY THE BRAVE / СКИДКА 62% </p>
	</div>	
	</section>	

	<footer>
		<div class="form_bottom">
			<div class="container column">	
				<div class="form_text">
					<h1>ОСТАВИТЬ ЗАЯВКУ</h1> <p>Diesel Watch</p> 
				</div>
				<div class="form_form">
					<img class="priceimg" src="img/price.png"  alt="">
					<img src="img/watch.png"  alt="">
					<div class="form_box">
						<form class="form one">
							<input type="text" name="name" placeholder="Bведите Имя" required size="30"/><br>
							<input type="text" name="email" required placeholder="Bведите контактный телефон"  size="30" /><br>
							<button value="Postim"> Отправить заявку </button>
						</form> 
					</div>
				</div>
				<div class="entity">
					<p>OOO "Делайт" г.Новосибирск</p>
				</div>
				<div class="politicbutton">
					<p > Политика конфеденциальности</p>
				</div>
			</div>
		</div>
	</footer>

</div>

<div id="1" class="popwindow box_window_in">
	<img src="img/form/brave_form.png" alt="" width="50%">
	<div class="pos_right">
		<p> Пожалуйста, введите Имя и номер контактного телефона. В течении 15 минут в рабочее время мы с Вами свяжемся. Рабочее время интернет-магазина с 12:00 erдо 20:00 часов по Московскому времени</p>
		<form class="form two">
			<input type="text" name="name" placeholder="Bведите Имя" required size="30" /><br>
			<input type="text" name="email" placeholder="Bведите контактный телефон" required size="30" /><br>
			<button value="Postim" > Отправить заявку </button>
		</form> 
	</div>
</div>
<div id="sucwindow"></div>
<div class="politicwind box_window_in">
	<h2>Политика конфиденциальности</h2>
	<p>Наш интернет-магазин уважительно относится к правам клиента. Соблюдается строгая конфиденциальность при оформлении заказа. Сведения надёжно сохраняются и защищены от передачи. Согласием на обработку данных клиента исключительно с целью оказания услуг является размещение заказа на сайте. К персональным данным относится личная информация о клиенте: домашний адрес; имя, фамилия, отчество; сведения о рождении; имущественное, семейное положение; личные контакты (телефон, электронная почта) и прочие сведения, которые перечислены в Законе РФ № 152-ФЗ «О персональных данных» от 27 июля 2006 г. Клиент вправе отказаться от обработки персональных данных. Нами в данном случае гарантируется удаление с сайта всех персональных данных в трёхдневный срок в рабочее время. Подобный отказ клиент может оформить простым электронным письмом на адрес, указанный на странице нашего сайта.</p>
</div>

<a href="#" id="popup_toggle" onclick="return false;"><div class="circlephone " style="transform-origin: center;"></div><div class="circle-fill" style="transform-origin: center;"></div><div class="img-circle popbutton" style="transform-origin: center;"><div class="img-circleblock" style="transform-origin: center;"></div></div></a>



</body>
</html>


